* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #222d37;
}

.back {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 40px 0px 0px 65px;
}

.container {
    flex-wrap: wrap;
    display: flex;
    /* height: 881px; */
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 100px;
    justify-content: center;
}

.title {
    position: relative;
    font-size: 80px;
    color: black;
    text-align: center;
    margin-top: 80px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}




.one {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #FFC312;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.two {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #C4E538;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;

}

.three {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #12CBC4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.four {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #FDA7DF;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.five {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #ED4C67;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.six {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #F79F1F;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.seven {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #A3CB38;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.eight {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #1289A7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.nine {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #D980FA;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #B53471;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten1 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #EE5A24;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;

}

.ten2 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #009432;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;

}

.ten3 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #0652DD;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten4 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #9980FA;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;

}

.ten5 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #833471;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten6 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #EA2027;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten7 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #006266;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten8 {
    height: 200px;
    width: 300px;
    /* margin: 0px 3px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #1B1464;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten9 {
    height: 200px;
    width: 300px;
    /* margin: 0px 0px 0px 0px; */
    /* /* border: 1px solid white; */
    background-color: #5758BB;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}

.ten10 {
    height: 200px;
    width: 300px;
    /* margin: 0px 0px 0px 0px; */
    /* /* border: 1px solid white; */
    /* margin: 10px auto; */
    /* border: 1px solid white; */
    background-color: #6F1E51;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    color: black;
    font-size: 30px;
}